/* #region THUMBS GALLERY */
/* .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  background-size: cover;
  background-position: center;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-big {
  height: 50%;
  width: 100%;
}

.swiper-small {
  height: 15rem;
  box-sizing: border-box;
  padding: 10px 0;
}

.swiper-small .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.swiper-small .swiper-slide-thumb-active {
  opacity: 1;
} */
/* #endregion */

/* #region ZOOM */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  overflow: hidden;
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}
/* #endregion */
